<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="customers_activity_listing_data_source" xsi:type="string">Kitchen365\TrackCustomer\Model\ResourceModel\CustomerActivityLog\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <type name="Kitchen365\TrackCustomer\Model\ResourceModel\CustomerActivityLog\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">kitchen365_customer_track_activity</argument>
            <argument name="eventPrefix" xsi:type="string">kitchen365_track_customer_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">kitchen365_track_customer_collection</argument>
            <argument name="resourceModel" xsi:type="string">Kitchen365\TrackCustomer\Model\ResourceModel\CustomerActivityLog</argument>
        </arguments>
    </type>
    <type name="Magento\Customer\Api\CustomerRepositoryInterface">
        <plugin name="customer_save_plugin" type="Kitchen365\TrackCustomer\Plugin\CustomerSavePlugin"/>
    </type>
</config>
