<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Kitchen365_TrackCustomer::track_customer" title="Track Customer" translate="title" module="Kitchen365_TrackCustomer" sortOrder="21" resource="Kitchen365_TrackCustomer::track_customer"/>
        <add id="Kitchen365_TrackCustomer::customer_activity" title="Customer Activity" translate="title" module="Kitchen365_TrackCustomer" sortOrder="10" parent="Kitchen365_TrackCustomer::track_customer" action="customers/customers/" resource="Kitchen365_TrackCustomer::customer_activity"/>
    </menu>
</config>
